body {
    margin: 0;
    box-sizing: border-box;
    color: #1B1C21;
}
@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Regular'), local('TT-Lakes-Medium'),
    url('assets/fonts/TTLakes-Regular/TTLakes-Regular.woff2') format('woff2'),
    url('assets/fonts/TTLakes-Regular/TTLakes-Regular.woff') format('woff'),
    url('assets/fonts/TTLakes-Regular/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'), local('TT-Lakes-Medium'),
    url('assets/fonts/TTLakes-Medium/TTLakes-Medium.woff2') format('woff2'),
    url('assets/fonts/TTLakes-Medium/TTLakes-Medium.woff') format('woff'),
    url('assets/fonts/TTLakes-Medium/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Bold'), local('TT-Lakes-Bold'),
    url('assets/fonts/TTLakes-Bold/TTLakesCondensed-Bold.woff2') format('woff2'),
    url('assets/fonts/TTLakes-Bold/TTLakesCondensed-Bold.woff') format('woff'),
    url('assets/fonts/TTLakes-Bold/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
.header {
    margin: 0 auto;
    width: 100%;
    height: 88px;
}
.vertical-line {
    background-image: url("assets/icons/nav-divider.svg");
    width: 2px;
    height: 32px;
    flex-shrink: 0;
}
.nav {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.nav__list {
    margin: 0;
    padding: 19px 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.nav__left-column {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.nav__right-column {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.nav__item {
    margin-right: 16px;
}
.nav__button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
}
.nav__button--logo {
    width: 97px;
    height: 51px;
}
.nav__item:hover {
    cursor: pointer;
}
.nav__button:hover {
    cursor: pointer;
}
.main {
    border-top: 1px solid #D9FFF5;
    margin: 0 auto;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #F8F8F8;
    width: 100%;
}
.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.main-header__text {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #1B1C21;
    padding: 24px 0 24px 16px;
}
.main-header__text::before {
    content: url("assets/icons/heading-vertical-line.svg");
    position: absolute;
    margin: -1px 0 0 -16px;
}
.main-header__nav-list {
    display: none;
}
.main__features {
    overflow: hidden;
}
.main__content {
    margin-top: 0;
    padding: 0 16px;
}
.main__description {
    margin: 0 0 16px;
}
.main__description--first-half {
    display: none;
}
.main__description--second-half {
    display: none;
}
.main__button {
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    margin: 0 0 16px;
    padding-left: 0;
}
.main__button::before {
    content: url("assets/icons/expand-button.svg");
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}
.main__button:hover {
    cursor: pointer;
}
.main__button:active {
    background-color: #FFFFFF;
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
}
.main__picture {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.content-wrapper {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 35px;
}
.features-list {
    margin: 0 0 10px 0;
    padding: 2px 16px 14px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    list-style: none;
}
.features-list__button {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #7E7E82;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
}
.features-list__button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
}
.features-list__item--active {
    background: #FFFFFF;
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
}
.features-list__item--brands {
    display: none;
}
.features-list__item--devices {
    display: block;
}
.features-list__item--prices {
    display: none;
}
.features-list__item--addresses {
    display: none;
}
.features-list__item--special-prices {
    display: none;
}
.features-list__item--feedback {
    display: none;
}
.features-list__item--additional-service {
    display: block;
}
.nav__item--left-vertical-line {
    display: none;
}
.nav__item--right-vertical-line {
    display: none;
}
.nav__item--call {
    display: none;
}
.nav__item--chat {
    display: none;
}
.nav__item--profile {
    display: none;
}
@media (min-width: 768px) {
    .nav__list {
        padding: 19px 24px;
    }
    .main-header__text {
        padding: 24px 0 24px 24px;
    }
    .main-header__text::before {
        margin: -1px 0 0 -24px;
    }
    .main__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 0;
        flex-grow: 1;
        padding: 0 48px 0 0;
    }
    .main__description--first-half {
        margin: 0;
        display: inline;
    }
    .main__picture {
        width: 360px;
        height: 208px;
        border-radius: 6px;
        flex-basis: 0;
    }
    .content-wrapper {
        display: flex;
        align-content: flex-start;
        padding: 0 24px 40px;
    }
    .features-list {
        padding: 2px 24px 14px;
    }
    .features-list__item--prices {
        display: block;
    }
    .features-list__item--special-prices {
        display: block;
    }
    .nav__item--middle-vertical-line {
        display: none;
    }
    .nav__item--left-vertical-line {
        display: block;
    }
    .nav__item--right-vertical-line {
        display: block;
    }
    .nav__item--call {
        display: block;
    }
    .nav__item--chat {
        display: block;
    }
    .nav__item--profile {
        display: block;
    }
}
@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .main {
        border-top: none;
        width: 1120px;
    }
    .main-header {
        justify-content: space-between;
        padding-top: 30px;
    }
    .main-header__text {
        padding: 10px 0 10px 32px;
    }
    .main-header__text::before {
        margin: -1px 0 0 -32px;
    }
    .main-header__nav-list {
        display: flex;
        padding: 10px 0;
        margin-right: 16px;
    }
    .main__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 0;
        flex-grow: 1;
        padding: 0 48px 0 0;
    }
    .main__description--first-half {
        margin: 0;
        display: inline;
    }
    .main__description--second-half {
        margin: 0;
        display: inline;
    }
    .main__picture {
        width: 531px;
        height: 307px;
        border-radius: 6px;
        flex-basis: 0;
        flex-grow: 1;
    }
    .content-wrapper {
        display: flex;
        align-content: flex-start;
        padding: 0 32px 40px;
    }
    .features-list {
        padding: 2px 32px;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .features-list__item--brands {
        display: block;
    }
    .features-list__item--prices {
        display: block;
    }
    .features-list__item--addresses {
        display: block;
    }
    .features-list__item--special-prices {
        display: block;
    }
    .features-list__item--feedback {
        display: block;
    }
    .features-list__item--additional-service {
        display: none;
    }
    .nav__item--repair {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav__item--status {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav__text {
        margin-right: 8px;
    }
}