@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Regular'), local('TT-Lakes-Medium'),
    url('../assets/fonts/TTLakes-Regular/TTLakes-Regular.woff2') format('woff2'),
    url('../assets/fonts/TTLakes-Regular/TTLakes-Regular.woff') format('woff'),
    url('../assets/fonts/TTLakes-Regular/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'), local('TT-Lakes-Medium'),
    url('../assets/fonts/TTLakes-Medium/TTLakes-Medium.woff2') format('woff2'),
    url('../assets/fonts/TTLakes-Medium/TTLakes-Medium.woff') format('woff'),
    url('../assets/fonts/TTLakes-Medium/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Bold'), local('TT-Lakes-Bold'),
    url('../assets/fonts/TTLakes-Bold/TTLakesCondensed-Bold.woff2') format('woff2'),
    url('../assets/fonts/TTLakes-Bold/TTLakesCondensed-Bold.woff') format('woff'),
    url('../assets/fonts/TTLakes-Bold/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
.body {
    margin: 0;
    box-sizing: border-box;
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
}
.header {
    position: fixed;
    margin: 0;
    width: 320px;
    height: 100%;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    overflow: auto;
}
.vertical-line {
    background-image: url("../assets/icons/nav-divider.svg");
    width: 2px;
    height: 32px;
    flex-shrink: 0;
}
.nav {
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
}
.nav__list {
    width: 100%;
    margin: 0;
    padding: 24px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}
.nav-bottom-part {
    margin-top: auto;
}
.nav-bottom-part__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav__left-column {
    margin: 0 0 50px 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.nav__right-column {
    margin: 0 0 20px 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.nav__item {
    margin-right: 16px;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__img {
    min-width: 40px;
    min-height: 40px;
    transition-duration: 0.2s;
}
.nav__img:hover {
    filter: invert(1);
}
.nav__img--logo:hover {
    filter: none;
}
.nav__button--logo {
    width: 97px;
    height: 51px;
}
.nav__button--round {
    min-height: 40px;
    min-width: 40px;
}
.nav__button:hover {
    cursor: pointer;
    color: #ff3e79;
    background-color: #FFFFFF;
    border-radius: 6px;
}
.nav__item--left-vertical-line {
    display: none;
}
.nav__item--right-vertical-line {
    display: none;
}
.nav__item--middle-vertical-line {
    display: none;
}
.nav__item--menu {
    display: none;
}
.nav__item--call {
    display: block;
}
.nav__item--chat {
    display: block;
}
.nav__item--profile {
    display: block;
}
.nav__item--search {
    margin-left: auto;
}
.nav__button {
    transition-duration: 0.2s;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    width: auto;
    height: 25px;
    font-size: 16px;
    font-weight: 500;
}
.nav__item--repair {
    display: none;
}
.nav__item--status {
    display: none;
}
.nav__text {
    margin-right: 8px;
}
.info {
    display: flex;
    flex-direction: column;
}
.info__text {
    display: none;
}
.info__email {
    margin: 0 0 12px 0;
    font-size: 16px;
}
.info__phone {
    margin: 0 0 40px 0;
    font-size: 24px;
    font-weight: bold;
}
.info__lang-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.info__item {
    transition-duration: 0.3s;
    cursor: pointer;
    margin-right: 7px;
}
.info__item:hover {
    transform: scale(1.1);
}
.info__item--active {
    color: #7E7E82;
}
.info__item--active:hover {
    cursor: default;
    transform: none;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.menu__item {
    margin-bottom: 32px;
    position: relative;
}
.nav__button--active {
    color: #7E7E82;
}
.nav__button--active:hover {
    color: #7E7E82;
    cursor: default;
    transform: none;
}
.nav__button--active::before {
    content: "";
    background-image: url("../assets/icons/heading-line.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 4px;
    height: 100%;
    margin-left: -20px;
}
